<div class="login">
	<form>
		<div class="form-group">
			<div class="circle">JS</div>
		</div>
	  	<div class="form-group">
	    	<div class="labelFor">Email</div>
	    	<input type="email" class="form-control">
	  	</div>
	  	<div class="form-group">
	    	<div class="labelFor">Senha</div>
	    	<input type="password" class="form-control">
	  	</div>
	  	<div class="form-group">
	   		<div class="labelFor">Nova senha</div>
	   		<input type="password" class="form-control">
	  	</div>
	  	<div class="form-group">
	    	<div class="labelFor">Confirme a nova senha</div>
	    	<input type="password" class="form-control">
	  	</div>
	  	<div class="form-group">
	  		<button type="button" class="btn btn-primary btn-lg btn-block">SALVAR</button>
	  	</div>
	</form>
</div>