<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Desafio Mercado Eletrônico</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../style.css">
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="principal">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			    <a href="#" class="pull-left">
			    	<div class="logoMercadoEletronico"></div> 
			    </a>
			    <div class="nav navbar-nav navbar-right">
			    	<div class="dropdown">
			    		<div class="dropdown-toggle loggedAsContainer" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    	  	<div class="leftIcon">
				    	  		<span class="glyphicon glyphicon-user"></span>
				    	  	</div>
				    	  	<div class="content">
				    	  		<div class="welcome">
				    	  			Bem vindo,
				    	  		</div>
				    	  		<div class="userName">
				    	  			João da Silva
				    	  		</div>
				    	  	</div>
				    	  	<div class="rightIcon">
				    	  		<span class="caret"></span>
				    	  	</div>
			    		</div>
			    		<div class="dropdown-menu userDetails" aria-labelledby="userMenu">
				    	  	<div class="row">
				    	  	  <div class="col-sm-12 col-md-12">
				    	  	    <div class="thumbnail">
				    	  	      <div class="caption">
				    	  	        <h3>Thumbnail label</h3>
				    	  	        <p>...</p>
				    	  	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				    	  	      </div>
				    	  	    </div>
				    	  	  </div>
				    	  	</div>
			    		</div>
			    	</div>
			    </div>			   	
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
</body>

</html>