<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Desafio Mercado Eletrônico</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../style.css">
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="principal">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			    <a href="#" class="pull-left">
			    	<div class="logoMercadoEletronico"></div> 
			    </a>
			    <div class="nav navbar-nav navbar-right">
			    	<div class="dropdown">
			    		<div class="dropdown-toggle loggedAsContainer" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    	  	<div class="leftIcon">
				    	  		<span class="glyphicon glyphicon-user"></span>
				    	  	</div>
				    	  	<div class="content">
				    	  		<div class="welcome">
				    	  			Bem vindo,
				    	  		</div>
				    	  		<div class="userName">
				    	  			João da Silva
				    	  		</div>
				    	  	</div>
				    	  	<div class="rightIcon">
				    	  		<span class="caret"></span>
				    	  	</div>
			    		</div>
			    		<div class="dropdown-menu userDetails" aria-labelledby="userMenu">
				    	  	<div class="row">
				    	  	  <div class="col-lg-3">
				    	  	  	<img class="img-circle userPicture" src="../img/user.jpg">
				    	  	  </div>
				    	  	  <div class="col-lg-9">
				    	  	  	<div class="row">
				    	  	  		<div class="col-lg-12 nameUser">João da Silva</div>
				    	  	  	</div>
				    	  	  	<div class="row">
				    	  	  		<div class="col-lg-12 lastLogin">Ultimo acesso: 10/10/15 09:49</div>
				    	  	  	</div>
				    	  	  	<div class="row">
				    	  	  		<div class="col-lg-12"><a href="#">Alterar Cadastro</a>?</div>
				    	  	  	</div>
				    	  	  	<div class="row">
				    	  	  		<div class="col-lg-12"><a href="#">Alterar Senha</a></div>
				    	  	  	</div>
				    	  	  </div>
				    	  	</div>
				    	  	<div role="separator" class="divider"></div>
				    	  	<div class="row">
				    	  		<div class="col-lg-6 text-center">
				    	  			<span class="glyphicon glyphicon-envelope"></span>
				    	  			<span class="text"><a href="#">Suporte Online</a></span>
				    	  		</div>
				    	  		<div class="col-lg-6 text-center">
				    	  			<span class="glyphicon glyphicon-log-out"></span>
				    	  			<span class="text"><a href="#">Logout</a></span>
								</div>
				    	  	</div>
			    		</div>
			    	</div>
			    </div>			   	
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
</body>

</html>