.principal{
	bottom: 0;
	position: relative;
	background-color: #ededed;
	padding-top: 20px;
	.row{
		margin-left: 10px;
		margin-right: 10px;
	}
	.carousel {
	    border: 1px solid black;
	    overflow: hidden;
		.carousel-inner{
			background-color: white;
			img{
				height: 240px;
			}
		}
	}
	.calendar{
		height: 250px;
		.datepicker{
			background-color: white;
			margin-left: 30px;
		}
	}
	@media only screen and (max-width: 1240px){
		.calendar{
			margin-top: 10px;
			.datepicker{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
@media only screen and (min-width: 1241px){
	.principal{
		position: absolute;
		bottom: 0;
		top: 69px;
	}
}