.principal{
	.logoMercadoEletronico{
		background: url(img/sprite.png) -50px -50px no-repeat;
		width: 184px;
		height: 53px;
	}
	.loggedAsContainer{
		min-width: 180px;
		margin-top: 5px;
		.leftIcon{
			float: left;
			span{
				font-size: 40px;
				margin-top: 2px;
			}
		}
		.content{
			min-width: 90px;
		    float: left;
		    height: 100%;
		    margin-top: 5px;
		    margin-left: 5px;
			.welcome{
				font-size: 12px;
			}
			.userName{
				font-weight: bold;
				width: auto;
			}
		}
		.rightIcon{
			float: left;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
}