.index .topBar {
  margin-bottom: 10px;
  border-bottom: none;
  padding-bottom: 5px;
}
.index .logoMercadoEletronico {
  background: url(img/sprite.png) -50px -50px no-repeat;
  width: 184px;
  height: 53px;
}
.index .loggedAsContainer {
  min-width: 180px;
  margin-top: 5px;
}
.index .loggedAsContainer .leftIcon {
  float: left;
}
.index .loggedAsContainer .leftIcon span {
  font-size: 40px;
  margin-top: 2px;
}
.index .loggedAsContainer .content {
  min-width: 90px;
  float: left;
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
.index .loggedAsContainer .content .welcome {
  font-size: 12px;
}
.index .loggedAsContainer .content .userName {
  font-weight: bold;
  width: auto;
}
.index .loggedAsContainer .rightIcon {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.index .userDetails {
  padding: 10px 0px 5px 0;
  border: none;
  width: 300px;
  margin-right: 10px;
  margin-top: 55px;
}
.index .userDetails .row {
  margin-left: 0px;
}
.index .userDetails .row .nameUser {
  font-weight: bold;
}
.index .userDetails .row .lastLogin {
  font-size: 12px;
  color: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
.index .userDetails .userPicture {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}
.index .sideBar {
  width: auto;
  background: #666666;
  height: 100%;
  position: fixed;
}
.index .sideBar .icon span {
  font-size: 35px;
}
.index .sideBar .text {
  display: block;
  line-height: 35px;
}
.index .page-content {
  margin-left: 180px;
}
@media only screen and (max-width: 1280px) {
  .index .sideBar .text {
    display: none;
  }
  .index .sideBar + .page-content {
    margin-left: 100px;
  }
  .index .sideBar:hover .text {
    display: block;
  }
  .index .sideBar:hover + .page-content {
    margin-left: 180px;
  }
}

.principal {
  margin: 0 10px 0 10px;
  background-color: #ededed;
}
.principal .itemCode {
  color: gray;
  font-size: 14px;
  font-weight: bold;
}
.principal .thumbImageContainer {
  border: 1px solid black;
}
.principal .thumbImageContainer .thumbImage {
  height: 180px;
}
@media only screen and (max-width: 1280px) {
  .principal .thumbImageContainer .thumbImage {
    height: 120px;
  }
}
.principal .price {
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
.principal .btnLabel {
  margin-left: 5px;
}

