.index {
  overflow-x: hidden;
}
.index .topBar {
  margin-bottom: 10px;
  border-bottom: none;
  padding-bottom: 5px;
}
.index .logoMercadoEletronico {
  background: url(img/sprite.png) -50px -50px no-repeat;
  width: 184px;
  height: 53px;
}
.index .loggedAsContainer {
  min-width: 180px;
  margin-top: 5px;
}
.index .loggedAsContainer .leftIcon {
  float: left;
}
.index .loggedAsContainer .leftIcon span {
  font-size: 40px;
  margin-top: 2px;
}
.index .loggedAsContainer .content {
  min-width: 90px;
  float: left;
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
.index .loggedAsContainer .content .welcome {
  font-size: 12px;
}
.index .loggedAsContainer .content .userName {
  font-weight: bold;
  width: auto;
}
.index .loggedAsContainer .rightIcon {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.index .userDetails {
  padding: 10px 0px 5px 0;
  border: none;
  width: 300px;
  margin-right: 10px;
  margin-top: 55px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
}
.index .userDetails .row {
  margin-left: 0px;
  margin-right: 0px;
}
.index .userDetails .row .nameUser {
  font-weight: bold;
}
.index .userDetails .row .lastLogin {
  font-size: 12px;
  color: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
.index .userDetails .userPicture {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}
@media only screen and (max-width: 1280px) {
  .index .userDetails {
    width: 220px;
  }
}
.index .sideBar {
  width: auto;
  background: #666666;
  height: 100%;
  position: fixed;
  color: white;
  padding-top: 20px;
}
.index .sideBar .icon span {
  font-size: 35px;
}
.index .sideBar .text {
  display: block;
  line-height: 35px;
  color: white;
}
.index .sideBar .row {
  margin-bottom: 20px;
}
.index .page-content {
  margin-left: 180px;
}
@media only screen and (max-width: 1280px) {
  .index .sideBar .text {
    display: none;
  }
  .index .sideBar + .page-content {
    margin-left: 100px;
  }
  .index .sideBar:hover .text {
    display: block;
  }
  .index .sideBar:hover + .page-content {
    margin-left: 180px;
  }
}

.login {
  background-color: #ededed;
}
.login form {
  max-width: 600px;
  background-color: white;
  margin: 40px auto 0 auto;
  padding: 30px 30px 30px 30px;
}
.login form .labelFor {
  color: #ccc;
  font-size: 12px;
}
.login form input {
  border-top: none;
  border-left: none;
  border-right: none;
  webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.login .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 55px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background-color: #337ab7;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1241px) {
  .login {
    position: absolute;
    top: 69px;
    height: 100%;
    right: 0;
    left: 182px;
  }
}
@media only screen and (max-width: 1240px) {
  .form-group {
    margin-bottom: 10px;
  }
}

.principal {
  bottom: 0;
  position: relative;
  background-color: #ededed;
  padding-top: 20px;
}
.principal .row {
  margin-left: 10px;
  margin-right: 10px;
}
.principal .carousel {
  border: 1px solid black;
  overflow: hidden;
}
.principal .carousel .carousel-inner {
  background-color: white;
}
.principal .carousel .carousel-inner img {
  height: 240px;
}
.principal .calendar {
  height: 250px;
}
.principal .calendar .datepicker {
  background-color: white;
  margin-left: 30px;
}
@media only screen and (max-width: 1240px) {
  .principal .calendar {
    margin-top: 10px;
  }
  .principal .calendar .datepicker {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1241px) {
  .principal {
    position: absolute;
    bottom: 0;
    top: 69px;
  }
}

.thumbnailItem .itemCode {
  color: gray;
  font-size: 14px;
  font-weight: bold;
}
.thumbnailItem .thumbImageContainer {
  border: 1px solid black;
}
.thumbnailItem .thumbImageContainer .thumbImage {
  height: 180px;
}
@media only screen and (max-width: 1280px) {
  .thumbnailItem .thumbImageContainer .thumbImage {
    height: 120px;
  }
}
.thumbnailItem .title {
  height: 40px;
}
.thumbnailItem .price {
  font-size: 30px;
  font-weight: bold;
  color: gray;
}
.thumbnailItem .btnLabel {
  margin-left: 5px;
}
